## 1. What exactly is []?

## Answer : 
    it's empty list

## 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [5]:
spam = [2,4,6,8,10]
spam.insert(2,'hello')
spam

[2, 4, 'hello', 6, 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

## 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [7]:
spam = ['a','b','c','d']
spam[int(int('3'*2)/11)]

'd'

## 4. What is the value of spam[-1]?

In [11]:
spam[-1]

'd'

## 5. What is the value of spam[:2]?

In [12]:
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

In [15]:
bacon = [3.14,'cat',11,'cat',True]

## Q6 what is the value of bacon.index('cat')?

In [16]:
bacon.index('cat')

1

## 7. How does bacon.append(99) change the look of the list value in bacon?

In [27]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

## 8. How does bacon.remove('cat') change the look of the list in bacon?

In [28]:
bacon.remove('cat')

In [29]:
bacon

[3.14, 11, 'cat', True, 99]

## 9. What are the list concatenation and list replication operators?

### list concatenation :
    creating a new list by adding two lists together with the help of arithmetic '+' opeartor.
    for example:
        print([1,2] + [3,4]) 
        output = [1,2,3,4]
### list replication :
    craeting a new list by repeating multipe copies of the same list with the help of '*' opeartor.
    print([1,2,3]*2)
    output = [1,2,3,1,2,3]

## 10. What is difference between the list methods append() and insert()?

In [31]:
# append()
l  = [1,2,3,4]     # original list
l.append('kishan') # append() is uesd to add new element in list at last place means index + 1 position
l

[1, 2, 3, 4, 'kishan']

In [33]:
# insert()
l.insert(2,'kio') # insert function is used to insert a elemnet at a particular index.
l

[1, 2, 'kio', 3, 4, 'kishan']

## 11. What are the two methods for removing items from a list?

In [35]:
## 1. pop()
a = [1,2,3,4,5,6]
a.pop()
a

[1, 2, 3, 4, 5]

In [36]:
## 2. remove()
a.remove(3)
a

[1, 2, 4, 5]

## 12. Describe how list values and string values are identical
## Answer : 
    1. len() function of string can work same with list.it counts no: of element in a list.
    2. indexing and slicing-each element stores on a specific index.silicing can be done on list to extract a sub list.
    3. Membership Operator - in and not in operator also works with list just as string.
    4. Concatenation and replication is same in both string and list

## 13. what is the differrence between tuples and lists?
## Answer :
#### 1. Creation
    → list is a comma separated values in square brakets and square brakets is mandatory.
      Data = ['kishan',1,2,3,'kio']
    → Tuple is a comma seprated values in parenthesis and parenthesis is optinal.
      Data1 = ('jay',23,30000)
#### 2. Mutability
    → list is Mutable means changable 
    → tuple is immutable means not changable.
    eg :
        Data[1] = 256 # no error
        Data1[1] = 256 # TypeError : tuple object doesn't support item assignment
#### 3. Memory Consumption :
    → Tuple object takes less memory than list object for same data.
    → list is slow execution than tuple.
    → list is efficient in memory utilization than tuple.
    import sys
    Data1 = ('kishan',1,2,3,'kio')
    Data = ['kishan',1,2,3,'kio']
    print(sys.getsizeof(Data))  # output = 120
    print(sys.getsizeof(Data1)) # output = 80

## 14. How do you type a tuple value that only contains the integer 42?

In [17]:
a = 42,
type(a)

tuple

## 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

## list of tuples

In [27]:

### method 1: use of list() and tuple()
data = [('kishan',),('bhavik',),('kio',)]
data

[('kishan',), ('bhavik',), ('kio',)]

In [28]:
### method 2 : use of zip()

a = [1,2,3]
b = ['kishan','kio','bhavik']
t1 = list(zip(a,b))
t1

[(1, 'kishan'), (2, 'kio'), (3, 'bhavik')]

In [29]:
### method 4 : map()
c = [['kishan'],['kio'],['spam']]
t2 = list(map(tuple,c))
t2

[('kishan',), ('kio',), ('spam',)]

In [30]:
### method 5: list comprehension and tuple method()
d = [['kishan'],['kio'],['spam']]
t3 = [tuple(i) for i in d]
t3

[('kishan',), ('kio',), ('spam',)]

## tuples of list

In [36]:
x = [1,2,3,3,4,5]
y = [25,65]
z = [78,98]
x1 = tuple([x,y,z])
x1

([1, 2, 3, 3, 4, 5], [25, 65], [78, 98])

## 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

## Answer :

    They contain references to list values.

## 17. How do you distinguish between copy.copy() and copy.deepcopy()?

## Answer :
    The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.