## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
## Answer :

In [1]:
test1 = 'This is a test of the emergency text system'
f = open('test.txt','w')
f.write(test1)

43

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
## Answer :

In [6]:
f.close()
fi = open('test.txt','r')
test2 = fi.readline()
test2

'This is a test of the emergency text system'

In [10]:
## yes, both strings are same
fi.close()

## 3. Create a CSV file called books.csv by using these lines:
    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992

In [25]:
import csv
var  =[['title','author','year'],
       ['The Weirdstone of Brisingamen','Alan Garner','1960'],
       ['Perdido Street Station','China Miéville','2000'],
       ['Thud!','Terry Pratchett','2005'],
       ['The Spellman Files','Lisa Lutz','2007'],
       ['Small Gods','Terry Pratchett','1992']] 

with open('books.csv','w',newline='') as fl:
    writer = csv.writer(fl)
    writer.writerows(var)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
## Answer :

In [ ]:
import sqlite3
db = sqlite3.connect('books.db')
c = db.cursor()

c.execute('create table books(title text,author text, year int)')
db.commit()

In [29]:
db.close()

## 5. Read books.csv and insert its data into the book table.
## Answer :

In [76]:
import sqlite3
db = sqlite3.connect('books.db')
c = db.cursor()
with open('books.csv','r') as f:
    record = 0
    for i in f:
        if record == 0:
            continue
        c.execute('insert into books values(?,?,?)',i.split(','))
        db.commit()
        record += 1

In [79]:

c.execute('select rowid,* from books')
c.fetchall()

[(1, 'title', 'author', 'year\n'),
 (2, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 (3, 'Perdido Street Station', 'China Miéville', 2000),
 (4, 'Thud!', 'Terry Pratchett', 2005),
 (5, 'The Spellman Files', 'Lisa Lutz', 2007),
 (6, 'Small Gods', 'Terry Pratchett', 1992)]

## 6. Select and print the title column from the book table in alphabetical order.
## Answer :

In [49]:
db = sqlite3.connect('books.db')
c = db.cursor()
c.execute('select title from books order by title asc')
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('title',)]

## 7. From the book table, select and print all columns in the order of publication.
## Answer :

In [68]:
c.execute('select rowid, * from books order by year asc')
c.fetchall()

[(2, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 (6, 'Small Gods', 'Terry Pratchett', 1992),
 (3, 'Perdido Street Station', 'China Miéville', 2000),
 (4, 'Thud!', 'Terry Pratchett', 2005),
 (5, 'The Spellman Files', 'Lisa Lutz', 2007)]

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
## Answer :

In [72]:
import sqlalchemy
a = sqlalchemy.create_engine("sqlite:///books.db")
rows = a.execute('select * from books')
for i in rows:
    print(i)

('title', 'author', 'year\n')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
## Answer :

In [ ]:
!pip install redis

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

## Q. Increment the count field of test and print it.
## Answer :

In [ ]:
conn.hincrby('test','count', 3)